<app-base-page [showPlayer]="true">
    <div class="md:flex flex-row justify-between items-center my-8">
        <div class="w-full">
            <div class="flex flex-row items-center gap-2">
                <input id="nome"
                    type="text"
                    placeholder="Nome da música"
                    [(ngModel)]="filter.name"
                    (ngModelChange)="applyFilters()"
                    class="h-9 md:w-96 bg-[#0F0A0A] border-[1px] border-gray-400 rounded-md pl-[14px] text-xs md:text-sm text-my-light-grey"
                    />
                <button (click)="toggleFilter()">
                    <img [src]="filterIcon" class="w-8 min-w-8 text-gray-300 hover:scale-110 transition-all duration-1000" 
                    alt="">
                </button>
                <button (click)="toggleModal()"
                    class="p-1 h-9 md:w-44 md:mt-0 text-sm md:text-md ms-auto me-0 bg-my-orange rounded-md font-bold hover:opacity-75 transition duration-300">
                    Cadastrar
                </button>
            </div>

            <div [ngClass]="showFilter ? 'opacity-100' : 'opacity-0'"     
            class="md:grid md:grid-cols-2 md:gap-2 md:w-96 transition-opacity duration-1000">
                <input *ngIf="showFilter"
                    class="block h-9 w-46 md:w-full mt-2 bg-[#0F0A0A] border-[1px] border-gray-400 rounded-md pl-[14px] text-xs md:text-sm text-my-light-grey"
                    placeholder="Filtrar por artista" type="text"
                    [(ngModel)]="filter.artist"
                    (ngModelChange)="applyFilters()"
                />
                <input *ngIf="showFilter"
                    class="block h-9 w-46 md:w-full mt-2 bg-[#0F0A0A] border-[1px] border-gray-400 rounded-md pl-[14px] text-xs md:text-sm text-my-light-grey"
                    placeholder="Filtrar por album" type="text"
                    [(ngModel)]="filter.album"
                    (ngModelChange)="applyFilters()"
                />
            </div>
        </div>
    </div>
    <app-song-list [songs]="filteredSongs"
                   (onEditEvent)="onEdit($event)"
                   (onDeleteEvent)="onDelete($event)"
    >
    </app-song-list>

    <app-modal [showModal]="showModal" [title]="'Cadastrar música'" [width]="'900px'" [height]="'auto'">
        <div class="w-full md:w-[700px] h-full mx-auto flex flex-col justify-center items-center text-my-light-grey px-[5%]">
        <app-alert
            *ngIf="alertType !== null"
            [type]="alertType"
        >
        </app-alert>
        
        <form class="w-full flex flex-col justify-center items-center text-gray-400 text-xs md:text-md my-5" 
            [formGroup]="songForm" 
            (ngSubmit)="onSubmit()">

            <div class="h-16 mt-5 w-full">
                <input id="name"
                    type="text"
                    placeholder="Nome"
                    formControlName="name"
                    class="h-9 w-full bg-[#0F0A0A] border-[1px] border-gray-400 rounded-md pl-[14px]"
                    [ngClass]="{'is-invalid': submitted && songForm.controls['name'].errors }"
                />
                @if (submitted && songForm.controls['name'].errors) {
                    <div class="invalid-feedback">
                        @if (submitted && songForm.controls['name'].errors['required']) {
                            <div class="text-xs text-red-600">Nome de música é obrigatório</div>
                        }
                    </div>
                }
            </div>
            <div class="h-16 w-full">
                <input id="artist"
                    type="text"
                    placeholder="Artista"
                    formControlName="artist"
                    class="h-9 w-full bg-[#0F0A0A] border-[1px] border-gray-400 rounded-md text-gray-400 pl-[14px] text-xs md:text-md"
                    [ngClass]="{'is-invalid': submitted && songForm.controls['artist'].errors }"
                />
                @if (submitted && songForm.controls['artist'].errors) {
                    <div class="invalid-feedback">
                        @if (submitted && songForm.controls['artist'].errors['required']) {
                            <div class="text-xs text-red-600">Nome do artista é obrigatório</div>
                        }
                    </div>
                }
            </div>

            <div class="h-16 w-full">
                <input id="album"
                    type="text"
                    placeholder="Álbum"
                    formControlName="album"
                    class="h-9 w-full bg-[#0F0A0A] border-[1px] border-gray-400 rounded-md text-gray-400 pl-[14px] text-xs md:text-md"
                    [ngClass]="{'is-invalid': submitted && songForm.controls['album'].errors }"
                />
                @if (submitted && songForm.controls['album'].errors) {
                    <div class="invalid-feedback">
                        @if (submitted && songForm.controls['album'].errors['required']) {
                            <div class="text-xs text-red-600">Nome do álbum é obrigatório</div>
                        }
                    </div>
                }
            </div>

            <div class="flex flex-col w-full">
                <input #fileInput class="text-white" type="file" (change)="selectFile($event)" />
            </div>
            <button
                type="submit"
                class="p-1 h-9 mt-7 w-52 self-start text-sm md:text-md bg-my-orange text-my-black rounded-md font-bold hover:opacity-75 transition duration-300"
                >
                <span >
                    @if (loading) {
                        <img class="inline h-6 animate-spin" src="./assets/spinner.svg" alt="">
                    }@else {
                        <span class="inline">Cadastrar</span>
                    }
                </span>
            </button>
        </form>
    </div>
    </app-modal>
    <app-modal [showModal]="showEditModal" [title]="'Atualizar música'" [width]="'900px'" [height]="'auto'">
        <div class="w-full md:w-[700px] h-full mx-auto flex flex-col justify-center items-center text-my-light-grey px-[5%] my-16">
        <app-alert
            *ngIf="alertType !== null"
            [type]="alertType"
        >
        </app-alert>
        
        <form class="w-full flex flex-col justify-center items-center text-gray-400 text-xs md:text-md" 
            [formGroup]="songForm" 
            (ngSubmit)="onSubmit()">

            <div class="h-16 mt-5 w-full">
                <input id="name"
                    type="text"
                    placeholder="Nome"
                    formControlName="name"
                    class="h-9 w-full bg-[#0F0A0A] border-[1px] border-gray-400 rounded-md pl-[14px]"
                    [ngClass]="{'is-invalid': submitted && songForm.controls['name'].errors }"
                />
                @if (submitted && songForm.controls['name'].errors) {
                    <div class="invalid-feedback">
                        @if (submitted && songForm.controls['name'].errors['required']) {
                            <div class="text-xs text-red-600">Nome de música é obrigatório</div>
                        }
                    </div>
                }
            </div>
            <div class="h-16 w-full">
                <input id="artist"
                    type="text"
                    placeholder="Artista"
                    formControlName="artist"
                    class="h-9 w-full bg-[#0F0A0A] border-[1px] border-gray-400 rounded-md text-gray-400 pl-[14px] text-xs md:text-md"
                    [ngClass]="{'is-invalid': submitted && songForm.controls['artist'].errors }"
                />
                @if (submitted && songForm.controls['artist'].errors) {
                    <div class="invalid-feedback">
                        @if (submitted && songForm.controls['artist'].errors['required']) {
                            <div class="text-xs text-red-600">Nome do artista é obrigatório</div>
                        }
                    </div>
                }
            </div>

            <div class="h-16 w-full">
                <input id="album"
                    type="text"
                    placeholder="Álbum"
                    formControlName="album"
                    class="h-9 w-full bg-[#0F0A0A] border-[1px] border-gray-400 rounded-md text-gray-400 pl-[14px] text-xs md:text-md"
                    [ngClass]="{'is-invalid': submitted && songForm.controls['album'].errors }"
                />
                @if (submitted && songForm.controls['album'].errors) {
                    <div class="invalid-feedback">
                        @if (submitted && songForm.controls['album'].errors['required']) {
                            <div class="text-xs text-red-600">Nome do álbum é obrigatório</div>
                        }
                    </div>
                }
            </div>

            <div class="flex flex-col w-full">
                <input #fileInputOnUpdate class="text-white" type="file" (change)="selectFile($event)" />
            </div>
            <button
                type="submit"
                class="p-1 h-9 w-52 self-start mt-7 text-sm md:text-md bg-my-orange text-my-black rounded-md font-bold hover:opacity-75 transition duration-300"
                >
                <span >
                    @if (loading) {
                        <img class="inline h-6 animate-spin" src="./assets/spinner.svg" alt="">
                    }@else {
                        <span class="inline">Atualizar</span>
                    }
                </span>
            </button>
        </form>
    </div>
    </app-modal>
</app-base-page>