<div class="fixed grid grid-cols-3 md:grid-cols-5 bottom-0 w-full h-32 bg-black">
    <div class="hidden md:flex items-center justify-center">
        <div class="hidden lg:inline-block">
            <img class="w-12 md:w-16 mx-8" [src]="artistPath" alt="">
        </div>
        <div>
            <p class="text-sm md:text-lg text-white">Papercut</p>
            <p class="text-my-orange text-xs">Linkin Park</p>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center col-span-3 gap-3">
        <div class="flex justify-center items-center gap-3 md:gap-8">
            <img class="inline-block w-8" [src]="randomIconPath" alt="">
            <img class="inline-block w-8" [src]="leftIconPath" alt="">
            <img class="inline-block w-8" [src]="pauseIconPath" alt="">
            <img class="inline-block w-8" [src]="rightIconPath" alt="">
            <img class="inline-block w-8" [src]="repeatIconPath" alt="">
        </div>
        <div class="flex justify-center items-center gap-2 w-full p-3 text-xs">
            <span class="inline-block text-white">00:00</span>
            <!--https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/-->
            <input type="range" style="accent-color: #E75516;" class="inline-block w-full" />
            <span class="inline-block text-white">03:05</span>
        </div>
    </div>
    <div class="hidden md:flex justify-center items-center gap-2">
        <img class="w-8" [src]="volIconPath" alt="">
        <input style="accent-color: #E75516;" type="range" class="inline-block w-[60%]">
    </div>

</div>