<div class="absolute left-0 bottom-0 grid grid-cols-3 md:grid-cols-5 w-full h-[15%] bg-my-black animate-slideUp">
    <div class="hidden md:flex items-center justify-center">
        <div class="hidden h-14 lg:inline-block">
            <img class="h-full mx-8" [src]="artistPath" alt="">
        </div>
        <div>
            <p class="text-sm md:text-lg text-white">{{playerService.currentSong?.name}}</p>
            <p class="text-my-orange text-xs">{{playerService.currentSong?.artist}}</p>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center col-span-3 gap-3">
        <div class="flex justify-center items-center gap-2 w-full px-3 text-xs">
            <span class="inline-block text-my-light-grey">{{ playerService.getFormattedCurrentTime() }}</span>
            <!--https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/-->
            <input
                   type="range"  
                   class="inline-block w-full accent-my-orange h-1 cursor-pointer"
                   (input)="durationSlider($event)"
                   [value]="playerService.getCurrentTime()"
                    [min]="0" [max]="playerService.getDuration()"
                   />
            <span class="inline-block text-my-light-grey">{{ playerService.getMusicLength() }}</span>
        </div>
        <div class="flex justify-center items-center gap-3 md:gap-6">
            <a (click)="random()" [ngClass]="playerService.isRandom() ? 'bg-gray-800 rounded-full' : ''">
                <img class="inline-block hover:opacity-85 w-12 p-2 hover:scale-125 transition-all duration-1000 cursor-pointer" [src]="randomIconPath" alt="">
            </a>
            <a (click)="prev()"><img class="inline-block hover:opacity-85 w-14 px-2 hover:scale-125 transition-all duration-1000 cursor-pointer" [src]="leftIconPath" alt=""></a>
            <a (click)="play()"><img class="inline-block hover:opacity-85 w-14 px-2 hover:scale-125 transition-all duration-1000 cursor-pointer" [src]="isPlaying() ? pauseIconPath : playIconPath" alt=""></a>
            <a (click)="next()"><img class="inline-block hover:opacity-85 w-14 px-2 hover:scale-125 transition-all duration-1000 cursor-pointer" [src]="rightIconPath" alt=""></a>
            <a (click)="repeat()" [ngClass]="playerService.isRepeating() ? 'bg-gray-800 rounded-full' : ''">
                <img class="inline-block hover:opacity-85 w-12 p-2 hover:scale-125 transition-all duration-1000 cursor-pointer" [src]="repeatIconPath" alt="">
            </a>
        </div>
    </div>
    <div class="hidden md:flex justify-center items-center gap-2">
        <img class="w-8" [src]="volMaxIconPath" alt="">
        <input type="range" class="inline-block w-[60%] accent-my-orange h-1 cursor-pointer"
            (input)="volumeSlider($event)"
            min="0" max="16" [value]="getInitialVolume()" step="1"
        >
    </div>
</div>