<app-base-page>
    <app-song-list>
        <div class="md:flex flex-row justify-between items-center my-8">
            <div class="w-full">
                <div class="flex flex-row items-center gap-2">
                    <input class="h-8 md:h-9 w-44 md:w-96 bg-slate-50 rounded-lg pl-[14px] text-xs md:text-lg"
                        placeholder="Filtrar por nome" type="text" />
                    <button (click)="toggleFilter()"><img [src]="filterIcon" class="w-8 min-w-8 text-gray-300"
                            alt=""></button>
                    <button
                        class="p-1 md:w-48 md:mt-0 text-xs md:text-lg ms-auto me-0 bg-my-orange rounded-xl font-bold hover:opacity-75 transition duration-300">
                        Upload de música
                    </button>
                </div>

                <div class="md:grid md:grid-cols-2 md:gap-2 md:w-96">
                    <input *ngIf="showFilter"
                        class="block h-8 md:h-9 w-44 md:w-full mt-2 bg-slate-50 rounded-lg pl-[14px] text-xs md:text-lg"
                        placeholder="Filtrar por artista" type="text" />
                    <input *ngIf="showFilter"
                        class="block h-8 md:h-9 w-44 md:w-full mt-2 bg-slate-50 rounded-lg pl-[14px] text-xs md:text-lg"
                        placeholder="Filtrar por album" type="text" />
                </div>
            </div>
        </div>
    </app-song-list>
</app-base-page>
<router-outlet />