<!--
<div class="flex gap-10 my-10 px-8 md:p-0">
    <img class="w-24 md:w-36 drop-shadow-[4px_4px_#000000] rounded-xl" [src]="albumImagePath" alt="">
    <div class="self-center">
        <p class="text-white text-xl md:text-4xl drop-shadow-[0_2px_#000000]">Hybrid Theory</p>
        <p class="text-my-grey text-sm md:text-2xl drop-shadow-[0_2px_#000000]">Linkin Park</p>
    </div>
</div>-->

<!-- IMPORTANTE OLHAR -->
<!-- https://tailwindcss.com/docs/animation#pulse -->
<ng-content></ng-content>
<!--
<table class="relative w-full border-spacing-0 table-fixed text-left">
    <tbody class="w-full text-sm md:text-lg">
        <tr class="w-full text-my-grey first:border-b-[1px] first:border-b-my-orange">
            <th class="h-8 ps-2">#</th>
            <th class="h-8 w-12"></th>
            <th class="h-8">Nome</th>
            <th class="h-8">Artista</th>
            <th class="h-8">Album</th>
            <th class="h-8 flex flex-row justify-end items-center pe-6">
                <div class="h-3 md:h-5">
                    <svg fill="#7b7b7b" width="100%" height="100%" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-7.59V4h2v5.59l3.95 3.95-1.41 1.41L9 10.41z"/></svg>
                </div>
            </th>
        </tr>
        <tr class="text-my-light-grey hover:bg-black hover:text-my-orange hover:cursor-pointer"
            *ngFor="let song of songs; let i = index" (click)="selectRow(i, $event);">
            <td class="max-w-24 text-my-grey text-left">
                <span class="self-center px-2">{{i + 1}}</span>
            </td>
            <td class="max-w-26 ps-4 h-12">
                <div class="bars w-4">
                    <div *ngIf="selectedRow === i" class="bars__item"></div>
                    <div *ngIf="selectedRow === i" class="bars__item"></div>
                    <div *ngIf="selectedRow === i" class="bars__item"></div>
                    <div *ngIf="selectedRow === i" class="bars__item"></div>
                </div>
            </td>
            <td class="max-w-24 overflow-ellipsis whitespace-nowrap overflow-hidden">
                {{song.name}}
            </td>
            <td class="max-w-24 overflow-ellipsis whitespace-nowrap overflow-hidden">
                {{song.artist}}
            </td>
            <td class="max-w-24 overflow-ellipsis whitespace-nowrap overflow-hidden">
                {{song.album}} sdsdsdssd sdsd
            </td>
            <td class="max-w-24 overflow-ellipsis whitespace-nowrap overflow-hidden text-right">
                {{song.duration}} 2:34
                <div class="inline-block text-left">
                    <div>
                        <button 
                            type="button" 
                            class="inline-flex w-full justify-center"
                            id="menu-button" 
                            aria-expanded="true" 
                            aria-haspopup="true"
                            (click)="dropdown.toggleDropdown($event)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                            </svg>
                        </button>
                    </div>
                    <app-dropdown-menu #dropdown 
                        (editClicked)="onEdit(song)" 
                        (deleteClicked)="onDelete(song)">
                    </app-dropdown-menu>
                </div>
            </td>
        </tr>
    </tbody>
</table>
-->

<!--
<div class="relative w-full grid grid-cols-4">
    <div>
        <span>#</span>
        <span class="ps-2">Nome</span>
    </div>
    <span>Artista</span>
    <span>Album</span>
    <span>Duração</span>
</div>
-->

<div class="relative">
    <div class="relative w-full grid grid-cols-8 md:grid-cols-10 text-md md:text-lg text-slate-400 border-b-2 border-slate-700">
        <div class="col-span-6 md:col-span-3">
            <span class="ps-1 pe-4 text-white">#</span>
            <span class="self-end">Título</span>
        </div>
        <span class="hidden md:block col-span-3">Álbum</span>
        <span class="hidden md:block col-span-2">Data de criação</span>
        <span class="flex flex-row justify-end items-center col-span-1 col-start-7 md:col-start-9">
            <svg class="text-right h-3 md:h-4 pe-2" fill="#94a3b8" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-7.59V4h2v5.59l3.95 3.95-1.41 1.41L9 10.41z"/></svg>
        </span>
        <span class="col-span-1 col-start-10"></span>
    </div>

    <ul class="z-5 relative w-full text-slate-400 text-xs md:text-sm pt-4"
        *ngFor="let song of songs; let i = index" (click)="selectRow(i, $event)">
            <li class="hover:bg-slate-950">
                <div class="grid grid-cols-8 md:grid-cols-10 items-center">
                    <div class="col-span-6 md:col-span-3 flex flex-row items-center h-14">
                        
                        <span class="ps-2 pe-4">{{i + 1}}</span>
                        
                        <img class="h-[70%]" [src]="albumImagePath" alt="">
                        <div class="flex flex-row justify-between items-center">
                            <div class="flex flex-col ps-4">
                                <span class="text-md font-bold text-slate-100">{{song.name}}</span>
                                <span class="">{{song.artist}}</span>
                            </div>
                            @if (selectedRow === i) {
                                <div class="ps-4 pe-4 h-full flex flex-col justify-center">
                                    <div class="bars">
                                        <div *ngIf="selectedRow === i" class="bars__item"></div>
                                        <div *ngIf="selectedRow === i" class="bars__item"></div>
                                        <div *ngIf="selectedRow === i" class="bars__item"></div>
                                        <div *ngIf="selectedRow === i" class="bars__item"></div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <span class="hidden md:block md:col-span-3 ">{{song.album}}album</span>
                    <span class="hidden md:block md:col-span-2">Criado em 12/01/2012</span>
                    <span class="pe-2 col-span-1 text-right">3:28</span>
                    <div class="flex flex-row justify-end items-center col-span-1 pe-2">
                        <div class="inline-block text-left">
                            <app-dropdown-menu #dropdown 
                                (editClicked)="onEdit(song)" 
                                (deleteClicked)="onDelete(song)">
                            </app-dropdown-menu>
                        </div>
                    </div>
                </div>
            </li>
    </ul>
</div>