<div class="relative">
    <div class="relative w-full grid grid-cols-8 md:grid-cols-10 text-md md:text-lg text-slate-400 border-b-2 border-slate-700">
        <div class="col-span-6 md:col-span-5">
            <span class="ps-1 pe-4 text-white">#</span>
            <span class="self-end">Título</span>
        </div>
        <span class="hidden md:block col-span-3">Álbum</span>
        <span class="flex flex-row justify-end items-center col-span-1 col-start-7 md:col-start-9">
            <svg class="text-right h-3 md:h-4 pe-2" fill="#94a3b8" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-7.59V4h2v5.59l3.95 3.95-1.41 1.41L9 10.41z"/></svg>
        </span>
        <span class="col-span-1 col-start-10"></span>
    </div>

    <ul class="z-5 relative w-full text-slate-400 text-xs md:text-sm pt-4 cursor-pointer"
        *ngFor="let song of songs; let i = index" (click)="play(i, $event)">
        <li [ngClass]="{'bg-my-black': playerService.getTrackPointer() === i}" class="hover:bg-slate-950">
            <div class="grid grid-cols-8 md:grid-cols-10 items-center">
                <div class="col-span-6 md:col-span-5 flex flex-row items-center h-14">             
                    <span class="ps-2 pe-4 w-2">{{i + 1}}</span>
                    <img class="h-[70%]" [src]="song.songImageUrl" alt="">
                    <div class="flex flex-row w-full overflow-hidden">
                        @if (playerService.getTrackPointer() === i) {
                            <div class="flex flex-col justify-center items-center ps-4 min-w-9 marquee">
                                <div class="inline-block self-start">
                                    <span class="block text-md font-bold"
                                        [ngClass]="{'text-my-orange': playerService.getTrackPointer() === i}">
                                    
                                        {{song.name}}
                                    </span>
                                    <span class="">{{ song.artist }}</span>
                                </div>
                            </div>
                        }
                        @else {
                            <div class="flex flex-col ps-4 w-full overflow-hidden">
                                <div>
                                    <span class="block text-md font-bold text-slate-100 whitespace-nowrap text-ellipsis overflow-hidden">{{song.name}}</span>
                                </div>
                                <div class="overflow-hidden">
                                    <span class="whitespace-nowrap text-ellipsis overflow-hidden">{{ song.artist }}</span>
                                </div>
                            </div>
                        }
                        @if (playerService.getTrackPointer() === i && playerService.isPlaying()) {
                            <div class="ps-4 pe-4 h-full flex flex-col justify-center">
                                <div class="bars">
                                    <div *ngIf="playerService.getTrackPointer() === i" class="bars__item"></div>
                                    <div *ngIf="playerService.getTrackPointer() === i" class="bars__item"></div>
                                    <div *ngIf="playerService.getTrackPointer() === i" class="bars__item"></div>
                                    <div *ngIf="playerService.getTrackPointer() === i" class="bars__item"></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <span class="hidden md:block md:col-span-3 ">{{song.album}}</span>
                <span class="pe-2 col-span-1 text-right">{{song.duration}}</span>
                <div class="relative flex flex-row justify-end items-center col-span-1 pe-2">
                    <div class="inline-block text-left">
                        <div class="" (click)="toggleDropdown($event, i)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                            </svg>
                        </div>
                        <div class="w-auto absolute right-0 mt-2 shadow-lg z-10 bg-my-grey"
                            [ngClass]="{'transition ease-out duration-300 transform opacity-100 scale-100' : dropdownIndex === i,
                            'hidden': dropdownIndex !== i}"
                        >
                            <a class="block px-4 py-2 text-my-black hover:bg-my-black hover:text-my-light-grey text-nowrap"
                            (click)="onRemoval($event, song)"
                            *ngIf="enableRemoval"
                            >
                                Remover da playlist
                            </a>
                            <a class="block px-4 py-2 text-my-black hover:bg-my-black hover:text-my-light-grey"
                            (click)="onEdit($event, song)"
                            *ngIf="enableEdit"
                            >
                                Editar
                            </a>
                            <a class="block px-4 py-2 text-my-black hover:bg-my-black hover:text-my-light-grey"
                            (click)="onDelete($event, song)"
                            *ngIf="enableDelete"
                            >
                                Excluir
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>