<app-base-page>
    <main>
        <app-alert
            *ngIf="alertType !== null"
            [type]="alertType"
        >
        </app-alert>
        <h2 class="text-xl md:text-2xl text-none text-center md:text-left text-my-light-grey mt-6 [text-shadow:_3px_2px_0_#000]">Minhas playlists</h2>
        <button class="mt-5 w-48 p-2 block mx-auto md:mx-0 bg-my-light-grey text-my-black text-xs md:text-sm rounded-md font-bold"
            (click)="toggleModal()"
        >
            Criar nova playlist
        </button>
        <input id="nome"
            type="text"
            placeholder="Pesquisar playlist"
            class="block mx-auto h-12 w-60 md:w-[500px] mt-6 bg-[#0F0A0A] border-[1px] border-gray-400 rounded-md pl-[14px] text-xs md:text-sm text-my-light-grey"
        />

        <ul *ngIf="playlists" class="w-full mt-6 grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-10">        
            <li *ngFor="let playlist of playlists" 
                class="h-40 bg-card-grey rounded-xl shadow-md shadow-my-black flex flex-row hover:cursor-pointer hover:scale-105 transition-all duration-1000"
                (click)="navigateToPlaylist(playlist)"
            >                  
                <div class="h-full min-w-40 overflow-hidden flex flex-col">        
                    <img class="h-40 w-36 my-2 mx-4 rounded-xl shadow-md shadow-my-black object-cover"
                    [src]="playlist.imageUrl" alt=""
                    >

                </div>
                <div class="h-40 w-full flex flex-col ps-3">
                    <p class="text-my-light-grey text-lg mt-3 [text-shadow:_3px_2px_0_#000]"
                    >
                        {{playlist.name}}
                    </p>
                    <div class="bg-my-dark-grey mb-3 me-3 rounded-3xl flex flex-row justify-between items-center gap-2 flex-grow ps-3 shadow-md shadow-my-black">
                        <div>
                            <p class="block text-my-grey text-md">27 músicas</p>
                            <p class="block text-my-grey text-md">2h 35min</p>
                        </div>
                        <div class="pe-3 text-my-orange">
                            <img src="assets/play-button-svgrepo-com.svg" class="h-12" />
                        </div>
                    </div>
                </div>                    
            </li>
        </ul>
        <ul *ngIf="!playlists" class="w-full mt-6 grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-10">        
            <li *ngFor="let index of [].constructor(6)" 
                class="relative h-40 bg-card-grey rounded-xl shadow-md shadow-my-black flex flex-row hover:cursor-pointer hover:scale-105 transition-all duration-1000">                  
                
                <div class="h-full min-w-40 overflow-hidden flex flex-col">        
                    <div class="h-40 w-36 my-2 mx-4 rounded-xl shadow-md shadow-my-black object-cover">
                        <ngx-skeleton-loader appearance="line" animation="pulse" count="1" 
                            [theme]="{
                                'background-color': '#686868',
                                'height': '100%',
                                'width': '100%'
                            }"
                        />
                    </div>

                </div>
                <div class="h-40 w-full flex flex-col ps-3">
                    <div class="text-my-light-grey text-lg mt-3 [text-shadow:_3px_2px_0_#000]"
                    >
                        <ngx-skeleton-loader appearance="line" animation="pulse" count="1" 
                            [theme]="
                                {
                                    'background-color': '#686868',
                                    'border-radius': '1.5rem',
                                    'height': '70%',
                                    'width': '90%'
                                }
                            "
                        />
                    </div>
                    <div class="relative bg-my-dark-grey mb-3 me-3 rounded-3xl flex flex-row justify-between items-center gap-2 flex-grow ps-3 shadow-md shadow-my-black">
                        <ngx-skeleton-loader appearance="line" animation="pulse" count="1" 
                            [theme]="
                                {
                                    'background-color': '#686868',
                                    'border-radius': '1.5rem',
                                    'position': 'absolute',
                                    'z-index': '10',
                                    'width': '100%',
                                    'height': '100%',
                                    'top': '0',
                                    'left': '0',
                                }
                            "
                        />
                        <div *ngIf="playlists">
                            <p class="block text-my-grey text-md">27 músicas</p>
                            <p class="block text-my-grey text-md">2h 35min</p>
                        </div>
                        <div *ngIf="playlists" class="pe-3 text-my-orange">
                            <img src="assets/play-button-svgrepo-com.svg" class="h-12" />
                        </div>
                    </div>
                </div>                    
            </li>
        </ul>

    </main>
    <app-modal [showModal]="showModal" [title]="'Criar playlist'">
        <form class="w-full px-3" (submit)="submit($event)" [formGroup]="playlistForm">
            <div class="mx-auto mt-3 rounded-2xl border border-my-light-grey opacity-75 h-36 w-36 relative overflow-hidden bg-center bg-no-repeat bg-cover shadow-lg shadow-my-black"
                [ngStyle]="{'background-image': 'url(' + playlistImageUrl + ')'}"
            >
                <div class="z-20 absolute opacity-50 hover:opacity-100 duration-300 cursor-pointer"
                    (click)="triggerFileInput()"
                >
                    <img src="assets/plus-circle-icon.svg" alt="">
                </div>
                <input
                    #fileInput
                    class="z-10 opacity-0 h-full w-full cursor-pointer absolute top-0 left-0"
                    type="file"
                    (change)="onFileSelected($event)"
                    accept="image/*"
                />
            </div>
            <div class="h-16 mt-5 w-full">
                <input id="nomeNovaPlaylist"
                    formControlName="name"
                    type="text"
                    placeholder="Nome"
                    class="block mx-auto h-9 w-full mt-10 bg-[#0F0A0A] border-[1px] border-gray-400 rounded-md pl-[14px] text-xs md:text-sm text-my-light-grey"
                    [ngClass]="{'is-invalid': submitted && playlistForm.controls['name'].errors }"
                />
                @if (submitted && playlistForm.controls['name'].errors) {
                    <div class="invalid-feedback">
                        @if (submitted && playlistForm.controls['name'].errors['required']) {
                            <div class="text-xs text-red-600">Nome de playlist é obrigatório</div>
                        }
                    </div>
                }
            </div>
            <div class="mb-8 flex flex-row items-end gap-3">
                <button 
                    class="w-full h-full p-2 block mx-auto md:mx-0 bg-my-light-grey text-my-black text-xs md:text-sm rounded-md font-bold hover:scale-105 transition-all duration-1000"
                    type="button"
                    (click)="toggleModal()"
                >
                    Cancelar
                </button>
                <button 
                    class="w-full h-full p-2 block mx-auto md:mx-0 bg-my-orange text-my-black text-xs md:text-sm rounded-md font-bold hover:scale-105 transition-all duration-1000"
                    type="submit">
                    Criar
                </button>
            </div>
        </form>
    </app-modal>
</app-base-page>